body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(180deg, #000000, #2c3450);
    text-align: center;
    font-family: Arial, sans-serif;
}

#title-todo {
    color: #ffffff;
    font-size: 80px;
    text-shadow: 0 0 10px #e4d9d9;
}

#TodoList {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#Task-section {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
}

.subtitle {
    color: #ffffffe7;
    font-size: 30px;
    text-shadow: 0 0 3px #ffffff;
}

input,
select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #171324;
    background-color: #333;
    color: white;
    box-shadow: 2px 2px 5px #2e2e2e;
}

input {
    margin-right: 0.5em;
    width: 200px;
}

button {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
}

button:hover {
    background-color: #bbbbbb;
}

input:hover,
select:hover {
    border-color: #cccccc;
}

input:focus,
select:focus,
button:focus {
    outline: none;
    box-shadow: none;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #353550;
    color: #ffffff;
    padding: 10px;
    margin: 5px auto;
    border-radius: 5px;
    max-width: 600px;
    width: 100%; 
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.high {
    border-left: 5px solid red;
}

.medium {
    border-left: 5px solid orange;
}

.low {
    border-left: 5px solid #00da0b;
}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #ffdddd;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    width: 35px;
    height: 35px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {

    #TodoList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    input, select, button {
        width: 80%;
        font-size: 18px;
    }

    .task-item {
        width: 90%;
        font-size: 18px;
        margin: 10px auto;
    }
}
